
.imagem {
  position: relative;
  }
  
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .imagem img {
    transition: filter 0.3s ease-in-out;
  }
  
  .imagem:hover img {
    filter: brightness(0.2);
    transform: scale(1.09);
    transition: 0.3s;
  }

  @media (max-width: 650px) {
    .imagem img {
        width: 200px;
        height: 150px;
    }
    }

  .container{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2.5rem;
    gap: 2.5rem;
    background-color: black;
    border-radius: 1rem;
    animation: fade 1s;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    border: 1px solid red;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .top {
    display: flex;
    gap: 3.75rem;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
  }

  .closeButton {
    font-size: 1.6rem;
    color: red;
    text-align: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .video iframe {
    width: 40rem;
    height: 25rem;
    

  }

  .info p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #828282;
    line-height: 140%;
    padding: 1rem 0;
    width: 100%; /* ou outro valor que funcione melhor para o seu layout */
    white-space: pre-line
  }


  .links {
    display: flex;
    gap: 2.5rem;
  }

  .links a{
    display: inline-block;
    width: fit-content;
    color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    background-image: linear-gradient(90deg, rgba(235, 25, 10, 0.8) .2%, rgba(224, 37, 8, 0.849) 100%);
    border-radius: 0.5rem;
    text-decoration: none;
  }